<div class="container">
<h3><u>Add Bill here</u></h3>
<form [formGroup]="billForm" (ngSubmit)="onSubmit()">
  <label>ID:</label>
  <input type="number" formControlName="id" placeholder="enter id here"required>
  <br>
  <label>Name:</label>
  <input type="text" formControlName="name" placeholder="enter name here"required>
  <br>
 <label>Type:</label>
  <input type="text" formControlName="type" placeholder="enter bill type here" required>
  <br>
  <label>Amount:</label>
  <input type="number" formControlName="amount" placeholder="enter amount here" required>
  <br>
  <label>Date:</label>
  <input type="date" formControlName="date" required>
  
  <button type="submit">Add Bill</button>
  <button type="reset">Reset</button>
</form>
</div>